:root {
    --header-height: 120px;
    --footer-height: 0px;
    --sidebar-width: 100px; /* width of the sidebar menu (always visible) */
    --menu-width: 400px; /* width of the menu ( opens on btn click) */
    --sidebar-bg-color: #323232;
    --header-spacer-height: 5px;

    --herne-logo-blue: #00A4D7;
    --herne-logo-green: #007C33;
    --herne-logo-yellow: #FBBC23;

    --sidebar-btn-highlight-color: var(--herne-logo-blue)
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#cesiumContainer {
    margin: 0;
    padding: 0;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow: hidden;
    transition: margin .3s ease-in-out;
}

#coordOverlay {
    z-index: 2;
    position:absolute;
    bottom:40px;
    right:15px;
    width:min-content;
    background-color: rgba(255, 255, 255, 0.3)
}

#coordOverlay td:first-child {
    text-align: right;
}
#coordOverlay td:last-child {
    text-align: right;
}

#headerDiv {
    height: var(--header-height);
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}


#headerDiv a {
    color: white;
}

#header-img-copyright {
    position: absolute;
    bottom: 4px;
    right: 8px;
    color: white;
    font-size: 9pt;
    z-index: 5;
}

#header-img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40pt;
    z-index: 3;
    font-family:monospace;
}

#header-bg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#header-bg-network {
    position: absolute;
    left: 50%;
    top: -15%;
    width: 90%;
    transform: translateX(-50%);
    z-index: 2;
}

#header-title-bg {
    position: absolute;
    left: 50%;
    top: -10%;
    height: 150%;
    transform: translateX(-50%);
    z-index: 3;
}


#header-spacer {
    height: var(--header-spacer-height);
    background: var(--sidebar-bg-color);
}

#footerDiv {
    height: var(--footer-height)
}

#sidebar {
    width: var(--sidebar-width);
    z-index: 1100; /* menu has 1045 */
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

.sidebarBtn {
    color: white;
    outline: none;
    box-shadow: none;
    box-shadow: none !important
}

.sidebarBtn:hover {
    color: var(--herne-logo-blue);
}

.sidebarBtn * {
    pointer-events: none;
}

.sidebarBtn:first-child {
    margin-top: 5px;
}

.sidebarSpacer {
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(var(--sidebar-width) - 20px);
    color: white;
}

.sidebar-menu {
    top: calc( var(--header-height) + var(--header-spacer-height) );
    left: var(--sidebar-width);
    bottom: var(--footer-height);
    width: var(--menu-width);
}
